[class*="col"] {
    background-color: blue;
    color: white;
    text-align: center;
    margin: 1px;
    height: 2.5em;
    padding: .5em;
}

[class*="col"] [class*="col"] {
    background-color: green;
}

.row {
    height: auto;
}