[class*="col"] {
    background-color: blue;
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 2.5em;
    padding: .5em;
}

[class*="col"] [class*="col"] {
    background-color: green;
    border-color: blue;
}

.container {
    max-width: 100%;
    margin: .5em 0 1em;
}

.row {
    height: auto;
}