[class*="col"] {
    background-color: blue;
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 2.5em;
    padding: .5em;
}

[class*="col"] [class*="col"] {
    background-color: green;
    border-color: blue;
}

.row {
    height: auto;
}